{% block content %}
<div class="card card-display">
    <div class="card-body">
        <h5 class="card-title">{{ session.monster0.name }}</h5>
        <p class="card-text" >{{ session.monster0.description }}</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Niveau : {{ session.monster0.level }}</li>
        <li class="list-group-item">Attaque : {{ session.monster0.attack }}</li>
        <li class="list-group-item">Defense : {{ session.monster0.defense }}</li>
    </ul>
</div>
{% endblock %}