{% block content %}
    <div class="card card-display monster">
        <div class="card-body">
            <h5 class="card-title">{{ session.monster1.name }}</h5>
            <p class="card-text" >{{ session.monster1.description }}</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Niveau : {{ session.monster1.level }}</li>
            <li class="list-group-item">Attaque : {{ session.monster1.attack }}</li>
            <li class="list-group-item">Defense : {{ session.monster1.defense }}</li>
        </ul>
    </div>
{% endblock %}